@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
